{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original.pk %}
    <li>
      <form method="post" action="{% url 'admin:purchase_purchaseinvoice_confirm' original.pk %}">
        {% csrf_token %}
        <button type="submit" class="button">Confirm</button>
      </form>
    </li>


    {% if original.pk and original.status in "CONFIRMED,PARTIAL" %}
    <li>
      <a class="button" href="{% url 'admin:purchase_purchaseinvoice_receive_partial' original.pk %}">
        Receive (Partial)…
      </a>
    </li>
  {% endif %}
    
    <li>
      <a class="button" href="{% url 'admin:purchase_purchaseinvoice_settle_breakdown_obj' original.pk %}">
        Settle (Payment/Credit)…
      </a>
    </li>
    <li>
      <a class="button" style="color:red" href="{% url 'admin:purchase_purchaseinvoice_cancel' original.pk %}">
        Cancel
      </a>
    </li>
  {% endif %}
{% endblock %}
