{# templates/admin/sale/salereturn/change_form.html #}
{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
  {{ block.super }}
  {% if original and original.pk %}
    <li>
      
      <a href="{% url 'admin:sale_salereturn_return_products' original.pk %}" class="button" >{% trans "Return Products" %}</a>
    </li>
    <li>
     
      <a href="{% url 'admin:sale_salereturn_return_payment'  original.pk %}" class="button" >{% trans "Return Payment" %}</a>
    </li>
    <li>
      
      <a style="color:red" href="{% url 'admin:sale_salereturn_cancel'          original.pk %}" class="button" >{% trans "Return Payment" %}</a>
    </li>
    

  {% endif %}
{% endblock %}
